*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://lh3.googleusercontent.com/pw/AMWts8DdQJygGryTD4cMBUT123AYAEr8e6WqvycKOVo3yYz8ZhHSPHjqQmIl54l1h5_224QTZ0wBic35Q6H0peU39OfQ5OpaDXpxenSfyigaJ9LMMsdQEfHgBnBSqmvPy70n5ySqc96j7SEIKJmQbzZsQU90=w1709-h961-no?authuser=0);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 1200px;
    height: 200px;
    margin: auto;
    background: green;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: calc(((100vw - 1200px)/2) - 8px);
}
header .izq,
header .der{
    width: 10%;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
header .izq img,
header .der img{
    width: 35%;

}
header .cen{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://lh3.googleusercontent.com/pw/AMWts8DL4JzeL6iDgeGgk1NT3aB9Ttz2jHxU7SOSlB-qGmGXrqpVMmMzikEZrOFLrpTcuwPBxX2UBoaiu3XlEuqZPurjwjaeiJovPg0ttprrzpgyWx8IC2EeW6CO4qABcLBThxEClQ7g-ciLwK1aTpTlaaCl=w1400-h700-no?authuser=0);
    background-size: cover;
    background-repeat: no-repeat;
}
header .cen img{
    width: 60%;
}
.menu{
    width: 1200px;
    height: 24px;
    background: rgb(0, 0, 0);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: calc(((100vw - 1200px)/2) - 8px);
    top: 200px;
}
nav a{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 13px;
    background: red;
    padding: 4px 10px 0 10px;
}
nav a:hover{
    color: yellow;
    background: blue;
}
main{
    width: 1200px;
    height: 60vh;
    margin: auto;
    background: rgba(0, 0, 0, .8);
    color:white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 224px;
    left: 0;
    z-index: -1;
    border: 1px solid rgb(255, 255, 255);
}
.dos{
    width: 1200px;
    height: 40vh;
    margin: auto;
    background: rgba(0, 0, 0, .8);
    color:white;
    position: relative;
    top: 220px;
    left: 0;
    z-index: -1;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
}
.tres{
    width: 1200px;
    height: 40vh;
    margin: auto;
    background: rgba(0, 0, 0, .8);
    color:white;
    position:relative;
    top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .lateral img{
    width: 100%;
    cursor: pointer; /* Establece el cursor como un puntero al pasar el mouse sobre el enlace de la imagen */
    display: inline-block;
}
main .lateral{
    flex-basis: 25%;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-right: 0px;
    float: left;

}
main .contenido{
    width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 10px 0 10px;
    text-align: left;
    margin-bottom: 10px;
    float: right;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    
    
}
.contenido-txt {
    flex-basis: 70%;

}
p{
    font-size: 15px;
}
main .contenido h2{
    width: 10%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;

}

  .col {
    margin-right: 0px; /* Espacio entre columnas */
  }
  .row {
    margin-bottom: 20px; /* Espacio entre filas */
    clear: both;
    display: flex;
    flex-wrap: wrap;

    scroll-margin-top: 310px;
  }
  .container {
    max-width: 75vw;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
.dos div a{
    width: 5%;
    position: absolute;
    top: 14%;
    right: 91%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
